<li class="nav-dropdown-container language">
  <a class="nav-link"><%= __('languages.title') %></a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://cn.vuejs.org/" class="nav-link" target="_blank"><%= __('languages.cn') %></a></li>
    <li><a href="https://jp.vuejs.org/" class="nav-link" target="_blank"><%= __('languages.ja') %></a></li>
    <li><a href="https://ru.vuejs.org/" class="nav-link" target="_blank"><%= __('languages.ru') %></a></li>
    <li><a href="https://kr.vuejs.org/" class="nav-link" target="_blank"><%= __('languages.kr') %></a></li>
    <li><a href="https://br.vuejs.org/" class="nav-link" target="_blank"><%= __('languages.br') %></a></li>
    <li><a href="https://fr.vuejs.org/" class="nav-link" target="_blank"><%= __('languages.fr') %></a></li>
  </ul>
</li>
